<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact | ElectroMart</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include "partials/navbar.html" with active_page="contact" %}


<main class="container">
<h1 class="section-title">Contact Us</h1>

<form id="contactForm" class="contact-form reveal"> 
  <label>Name 
    <input type="text" name="name" required>
  </label>
  <label>Email 
    <input type="email" name="email" required>
  </label>
  <label>Message 
    <textarea name="message" rows="4"></textarea>
  </label>
  
  <button type="submit" class="btn">Send Message</button>
</form>
<p id="formMsg" class="muted"></p>
</main>


<footer class="footer">
<div class="container">
<p>© 2025 ElectroMart | Your trusted electronics store</p>
</div>
</footer>


<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
