{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
</head>

<body>
    {% include "partials/navbar.html" with active_page="profile" %}
    <div class="profile-card">

        <div class="profile-header">
            <img src="{{ user.profile.profile_image.url }}" alt="Profile Image">
            <div class="profile-info">
                <h2>{{ user.username }}</h2>
                <p>{{ user.email }}</p>
            </div>
        </div>

        <div class="profile-details">
            <h3>Profile Details</h3>

            <div class="detail-box"><strong>First Name:</strong> {{ user.username  }}</div>
            {% comment %} <div class="detail-box"><strong>First name:</strong> {{ user.profile.username }}</div> {% endcomment %}
            <div class="detail-box"><strong>Last name:</strong> {{ user.profile.last_name }}</div>
            <div class="detail-box"><strong>Phone:</strong> {{ user.profile.phone }}</div>
            <div class="detail-box"><strong>Address:</strong> {{ user.profile.address }}</div>
        </div>

        <a href="{% url 'update_profile' %}" class="edit-btn">Edit Profile</a>
        <a href="{% url 'logout' %}" class="logout-btn">Logout</a>

    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
